@font-face{ 
    font-family: DS-Digital;
    src: url('fonts/DS-DIGIT.TTF')format('truetype');
}
@font-face{
    font-family: Racing;
    src: url('fonts/RACING\ HARD.ttf')format('truetype');
}
:root{
    --fontnumeros: DS-Digital;
    --fontletras: Racing;
}
.relogio{
    font-family: var(--fontnumeros);
    font-size: 4em;
    margin: 10px;
    padding: 0px;
    
}
body{
   
    display: flex;
    justify-content: center;
    background-color: #10454F;
    
}
h1{
    
    margin-bottom: 5px;
    font-family: var(--fontletras);
    text-align: center;
    font-size: 2.5em;
}
button{
    font-family: var(--fontletras);
    padding: 5px;
    font-size: 1.3em;
}
.card{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 30%;
    background-color: #506266;
    border-radius: 20px;
}
.pausado{
    color: red;
}